@font-face {
    font-family: 'PoiretOne';
    src: url(Fonts/Poiret_One/PoiretOne-Regular.ttf) format('truetype');
}

body {
    background-image: url("Pictures/krkonose5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "PoiretOne", sans-serif;   
}

.title {
    margin-top: 130px;
    margin-left: 100px;
    color: black;
    font-size: 150px;
    font-weight: bolder;
}

.container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 60px;
}

.logIn {
    /* background-color: rgb(128, 128, 128, 0.5); */ 
    margin-left: 10%;
    margin-top: 10%;
    padding: 10px 50px 10px 50px;
    border: 2px solid black;
    border-radius: 10px; 
    text-align: center;
    background: transparent;
    backdrop-filter: blur(50px);
}

.logInButton {
    width: 300px;
    height: 80px;
    font-size: x-large;
    font-weight: bolder;
    font-family: "PoiretOne";
    color: white;
    background-color: black;
}

input {
    width: 300px;
    height: 50px;
    font-size: x-large;
}

.languages {
    text-align: right;
    margin: 1%;
}

a {
    color: white;

}

a.active {
    background: white;
    color: black;
    font-weight: bold;
}


label {
    position: relative; margin-right: 10%;
    font-size: x-large;
}
/*
.label {
    margin-left: -8%; margin-top: 1%;
}
*/

#logo {
    filter:drop-shadow(20px 10px 10px rgb(56, 56, 56))
}